.app-navigator {
  position: absolute;
  bottom: var(--space-lg);
  display: flex;
  align-self: center;
  column-gap: var(--space-md);
  background-color: #ddd;
  padding: var(--space-md) var(--space-lg);
  border-radius: 16px;

  .app-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    background-color: #ccc;
    z-index: 2;

    .app-icon {
      pointer-events: none;
      border-radius: 8px;
    }

    &.trash {
      user-select: none;
      background-color: transparent;
      z-index: 1;
    }
  }
}

