.home-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  min-height: -webkit-fill-available;
  
  .main-content {
    flex: 1;
    background-image: url("../../assets/backgrounds/gradient-background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
